<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="schedule-interval-minutes" value="1"/>
    <add key="report-output-path" value="C:\temp\powerposition"/>
    <add key="report-filename-format" value="PowerPosition_{0}.csv"/>
    <add key="report-filename-date-format" value="yyyyMMdd_HHmm"/>
    <add key="report-headers" value="Local Time,Volume"/>
    <add key="report-localtime-format" value="HH:mm"/>
    <add key="pipeline-buffer-size" value="10"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>